<div class="pet-detail">
  <p class="flow-text center">
    Name: <%= @pet.name %><br>
    Breed: <%= @pet.breed %><br>
    Age: <%= @pet.age %> years
  </p>

  <img class="materialboxed responsive-img center" src="<%= @pet.photo.url %>">
</div>
